<app-modal>
  <ng-container header>
    <h3>Help</h3>
  </ng-container>
  <ng-container content>
    <span>Git-Draw tool helps you to draw git branch and commits by using the git commands.</span><br><br>
    <span>Following commands are available</span>
    <br><br>
    <ul class="no-style">
      <li>
        <b>git checkout &lt;branch&gt;</b> - Checkout to another branch
      </li>
      <li>
        <b>git checkout -b &lt;branch&gt;</b> - Create a new branch and checkout
      </li>
      <li>
        <b>git commit -m "message"</b> - Add a commit to the checkout branch
      </li>
      <li>
        <b>git merge &lt;branch&gt;</b> - Merge branch
      </li>
      <li>
        <b>git tag -a "tag"</b> - Add a tag to the current commit
      </li>
      <li>
        <b>help</b> - Display help window
      </li>
      <li>
        <b>developer</b> - Display developer info
      </li>
    </ul>
  </ng-container>
</app-modal>
