<span>Git-Draw tool helps you to draw git branch and commits by using the git commands.</span><br><br>
<span>Following commands are available</span>
<br><br>
<table class="no-border">
  <tr>
    <td>git checkout &lt;branch&gt;</td>
    <td>- Checkout to another branch</td>
  </tr>
  <tr>
    <td>git checkout -b &lt;branch&gt;</td>
    <td>- Create a new branch and checkout</td>
  </tr>
  <tr>
    <td>git commit -m "message"</td>
    <td>- Add a commit to the checkout branch</td>
  </tr>
  <tr>
    <td>git merge &lt;branch&gt;</td>
    <td>- Merge branch</td>
  </tr>
  <tr>
    <td>git tag -a "tag"</td>
    <td>- Add a tag to the current commit</td>
  </tr>
  <tr>
    <td>help</td>
    <td>- Display help window</td>
  </tr>
  <tr>
    <td>developer</td>
    <td>- Display developer info</td>
  </tr>
  <tr>
    <td>clear</td>
    <td>- Clear everything</td>
  </tr>
</table>

<br><br>
<span>Additional</span>
<br>
<br>
<ul class="help-list">
  <li>Use pinch to zoom-in and zoom-out</li>
  <li>Click anywhere on screen and drag around</li>
  <li>Use camera icon <i class="zmdi zmdi-camera"></i> to save as image </li>
</ul>
