<div class="fabs">
  <div class="chat" [class.is-visible]="toggled">

    <div class="chat_header">
      <div id="chat_head">
        <span class="system-name">user@git-draw:~/home</span> <br>
        <span class="agent">
          git:(<span class="branch-name">{{activeBranch}}</span>)
        </span>
      </div>
    </div>

    <div class="chat_body chat_login d-none">
      <a id="chat_first_screen" class="fab"><i class="zmdi zmdi-arrow-right"></i></a>
      <p>We make it simple and seamless for businesses and people to talk to each other. Ask us anything</p>
    </div>

    <div id="chat_converse" class="chat_conversion chat_converse">
      <div class="chat_msg_item chat_msg_item_admin" *ngFor="let code of commandHistory">
        {{code}}
      </div>
    </div>

    <div class="fab_field">
      <span class="command-input-prefix">&gt;</span>

      <form [formGroup]="form" (submit)="submit()" class="d-inline">
        <button type="submit" id="fab_send" class="fab btn-send">
          <i class="zmdi zmdi-mail-send"></i>
        </button>
        <input formControlName="command" placeholder="Command" class="chat_field chat_message command-input">
      </form>
    </div>

  </div>
  <a id="prime" class="fab" (click)="toggle()">
    <i class="prime zmdi" [class.zmdi-code]="!toggled" [class.zmdi-close]="toggled"></i>
  </a>
</div>

<!--<app-modal id="custom-modal-2">-->
<!--  <ng-container header>-->
<!--    <h3>Header</h3>-->
<!--  </ng-container>-->
<!--  <ng-container content>-->
<!--    <h1>A Tall Custom Modal Window!</h1>-->
<!--  </ng-container>-->
<!--</app-modal>-->
