<div class="fabs">
  <div class="chat" [class.is-visible]="toggled">

    <div class="chat_header">
      <div id="chat_head">
        <span class="system-name">user@git-draw:~/home</span> <br>
        <span class="agent">
          git:(<span class="branch-name">{{activeBranch}}</span>)
        </span>
      </div>
    </div>

    <div class="chat_body chat_login" appTyping *ngIf="!history.length">
      <span>We make it simple and seamless for you to draw git branches and commits by simply running the git commands.</span>
      <br><br>
      <span>Use below commands</span>
      <br>
      <span>=============</span>
      <br>
      <span>$ help</span>
    </div>

    <div id="chat_converse" class="chat_conversion chat_converse" *ngIf="history.length">
      <div class="chat_msg_item chat_msg_item_admin"
           [class.output]="code.flow === 'output'"
           [class.error]="code.type === 'error'"
           [class.warning]="code.type === 'warning'"
           [class.success]="code.type === 'success'"
           [class.info]="code.type === 'info'"
           [innerHTML]="code.command"
           *ngFor="let code of history">
      </div>
    </div>

    <div class="fab_field">
      <span class="command-input-prefix">&gt;</span>

      <form [formGroup]="form" (submit)="submit()" class="d-inline">
        <button type="submit" id="fab_send" class="fab btn-send">
          <i class="zmdi zmdi-mail-send"></i>
        </button>
        <input formControlName="command" placeholder="Command" class="chat_field chat_message command-input">
      </form>
    </div>

  </div>
  <a id="prime" class="fab" (click)="toggle()">
    <i class="prime zmdi" [class.zmdi-code]="!toggled" [class.zmdi-close]="toggled"></i>
  </a>
</div>
